
<h1>Turmas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Curso</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turmas.each do |turma| %>
      <tr>
        <td><%= turma.nome %></td>
        <td><%= turma.curso %></td>
        <td><%= turma.estado %></td>
        <td><%= link_to 'Show', turma if can? :read, turma %></td>
        <td><%= link_to 'Edit', edit_turma_path(turma) if can? :update, turma %></td>
        <td><%= link_to 'Destroy', turma, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, turma %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turma', new_turma_path if can? :create, Turma %>
